<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		id="com.signal360.SignalPGPlugin" version="0.1.0">

	<name>SignalPGPlugin</name>
	<description>Signal360 PhoneGap Plugin</description>
	<keywords>signal360,sdk,phonegap</keywords>

	<!-- ios -->
	<platform name="ios">
		<asset src="www/js/signalpg.js" target="js/signalpg.js" />
		<config-file target="config.xml" parent="/widget/plugins">
		<!-- <config-file target="config.xml" parent="/widget"> -->
		<!-- <config-file target="config.xml" parent="/*"> -->
			<feature name="SignalPG">
				<param name="ios-package" value="SignalPG"/>
			</feature>
		</config-file>
		<header-file src="src/ios/SignalPG.h" />
		<source-file src="src/ios/SignalPG.m" />
	</platform>

</plugin>
